Есть три типа User - Moderator,Seller,Buyer
Seller может выставить товар на продажу
Buyer может добавить товар в корзину, написать отзыв и активировать купор,
а модератор может редактировать отзывы, удалять товары, удалять отзывы, добавлять и убирать купоны.
